@import './Home.module.scss';
@import './form.module.scss';
.main {
  padding: 0;
  padding-bottom: 4rem;
  height: auto;
}
.header {
  width: 100%;
  padding: 1rem 0 0 2rem;
  background-color: black;
  color: #fff;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
}

.authCard {
  width: 50rem;
  display: flex;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 2rem 1rem;
  border-radius: 0.4rem;
  background-color: $greyShade;
  border: 1.5px solid rgba(192, 189, 189, 0.8);
}
