@import './utils.scss';

.formCard {
  display: flex;
  flex-direction: column;
  width: inherit;

  &Title {
    text-align: center;
    font-size: 2rem;
  }
}
.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  font-size: 1.5rem;

  & .inputField {
    display: flex;
    flex-direction: column;
    width: 40rem;

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    & label {
      font-size: 1.55rem;
    }
    & input {
      padding: 1rem 0.4rem;
      outline: none;
      border: 1.5px solid rgba(192, 189, 189, 0.8);
      border-radius: 0.4rem;
    }
  }
  & input[type='submit'] {
    padding: 1rem 0.4rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    background-color: $blue;
    color: $greyShade;
    border: none;
    border-radius: 0.4rem;
    outline: none;
    transition: all 0.3s ease-in;
    cursor: pointer;
    box-shadow: 0px 3px 5px 3px rgba(0, 0, 0, 0.19);

    &:hover {
      box-shadow: 0px 3px 9px 5px rgba(0, 0, 0, 0.19);
    }
  }
}
.or {
  text-align: center;
  margin: 2rem 0;
  font-size: 1.8rem;
  position: relative;

  &::before {
    content: '';
    height: 0.2rem;
    width: 12rem;
    background-color: $bgColor;
    position: absolute;
    top: 50%;
    left: 4rem;
  }

  &::after {
    content: '';
    height: 0.2rem;
    width: 12rem;
    background-color: $bgColor;
    position: absolute;
    top: 50%;
    right: 4rem;
  }
}

.googleBtn {
  padding: 0.8rem 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40rem;
  align-self: center;
  color: grey;
  font-weight: 600;
  cursor: pointer;
  border: 1.5px solid rgba(192, 189, 189, 0.8);
  border-radius: 0.4rem;

  & > .separator {
    width: 1rem;
  }
}

.link {
  text-align: center;
  margin: 1rem 0;
  font-size: 1.5rem;
}

.linkItem {
  font-style: italic;
  color: $blue;
}
